* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  cursor: pointer;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Jersey 10", sans-serif;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Ensure no scrollbars appear */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Smooth transition for opacity and transform */
}

#intro-video.hidden {
  opacity: 0; /* Fade out the video */
  transform: scale(1.05); /* Slight scale-up effect for smooth transition */
}

#intro-video.static {
  position: static; /* Change to static positioning */
  width: auto; /* Adjust width */
  height: auto; /* Adjust height */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Smooth transition for opacity and transform */
}

#hello-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #333;
  z-index: 1; /* Ensure text is on top of the video */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}

#reject-button {
  position: absolute;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  font-size: 100px;
  z-index: 2; /* Ensure button is above video */
  cursor: pointer;
  font-weight: 700;
  background-color: black;
  color: red;
  font-family: "Jersey 10", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.header {
  height: 200px;
  display: flex;
  gap: 20px;
  flex-direction: column; /* Align buttons in a row */
  padding: 10px; /* Add some padding if needed */
}

.button {
  border: 2px solid black;
  font-size: 24px;
  font-family: "Jersey 10", sans-serif;
  border-radius: 8px;
  width: 250px;
  height: 30px;
  font-weight: 700;
  background-color: white;
  transition: all 0.2s ease;
  position: relative;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  width: calc(100% + 40px);
  background-color: black;
  color: white;
  padding: 0px 50px; /* Increased padding to grow from center */
  transform: translate(-20px, -2.5px);
}

.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}

.logoImage {
  display: flex;
  object-fit: cover;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.footer {
  font-family: "Jersey 10", sans-serif;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1rem 0;
  justify-content: center;
}
